/* Podstawowe style */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
}

/* Podstawowe style */
body {
    background-image: url('tlo1.jpg'); /* Dodano tło strony */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #2a832a; /* Dark gray text color */
}
header {
    background-color: #333; /* Dark green header background */
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
}

nav {
    
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: inline-block;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Slightly darker green on hover */
}

section {
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Przeźroczyste tło na 50% */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333; /* Dark gray text color */
}


h2 {
    text-align: center;
    margin: 20px 0;
    color: #000000; /* Dark green heading color */
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

section img.responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#fotos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    background-color: #fff; /* Kolor tła dla sekcji zdjęć (nieprzezroczysty) */
    padding: 20px; /* Dodałem padding dla estetyki */
}
footer {
    background-color: #2a832a; /* Dark green footer background */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 10px; /* Dodatkowy margines na górze stopki */
}

#fotos img {
    margin: 0 5px 5px 0;
    max-width: 100%;
}


.random-image {
    position: absolute;
    max-width: 300px; /* Dostosuj maksymalną szerokość według potrzeb */
    height: auto;
}

#about .random-image {
    top: 20px;
    left: 20px;
}

#location-details .random-image {
    bottom: 20px;
    right: 20px;
}
